.recent_posts_height {
    height: 300px;
}
.recent_posts_image_height {
    height: 150px;
}
.recent_posts_image_by_category_height {
    height: 200px;
}
.object_fit {
    object-fit: cover;
}
.w_240 {
    width: 240px;
}
.post_hot_img_size {
    height: 80px;
    width: 90px;
}
.box_item_size {
    height: 70px;
    width: 100;
}
